.button-custom {
    background-color: rgb(81, 114, 35) !important;
    border-radius: 10px !important;
    border-color: rgb(81, 114, 35) !important;
    color: white !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    height: 52px;
    min-width: 200px !important;
}

.button-custom-light {
    color: #517223 !important;
    background-color: white !important;
    /* border-color: grey !important;; */
    border: 2px solid #517223 !important;
    border-radius: 10px !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    height: 52px;
    min-width: 200px !important;
}