.page-header-container {
  padding: 16px;
  margin-top: 50px !important;
  /* min-height: 48px; */
}


.page-section-title {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: block;
}

.page-header-subtitle {
  font-size: 14px;
  color: grey;
  margin-left: 7px;
}

.button-container {
  flex: 1 !important;
  display: flex;
  justify-content: flex-end
}

.button-container>* {
  margin-left: 5px !important;
}

.page-header-top-row {
  display: grid !important;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;

}
