.page-header-container {
  padding: 16px;
  margin-top: 50px !important;
  /* min-height: 48px; */
}
 /* .page-section-title {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: block;
} */
.page-section-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.page-section-title .title {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin-block-start: 5px;
  margin-block-end: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40%;
}
.page-section-title .subtitle {
  font-size: 14px;
  color: #808080;
} 
.page-section-name{
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: block;
} 
.button-container {
  flex: 1 !important;
  display: flex;
  justify-content: flex-end
}
.button-container>* {
  margin-left: 5px !important;
}
@media (max-width: 800px){
  .css-vok43g-MuiGrid-root{
    padding-left: 0px!important;
  }
}
@media (max-width: 600px){
  .button-custom{
    border-radius: 5px !important;
    font-size: 10px !important;
    height: 32px!important;

  }
  .css-1d6wzja-MuiButton-startIcon{
    margin-right: 2px!important;
  }
  .css-6tnbud-MuiButtonBase-root-MuiButton-root{padding: 5px 10px!important;}
  .css-1d6wzja-MuiButton-startIcon>*:nth-of-type(1) {
    font-size: 16px!important;
}
.page-section-title{font-size: 16px;}
/* .MuiStepConnector-root{
    left: calc(-52% + -11px) !important;
    right: calc(50% + 22px) !important;
} */
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
  width: 35px;
  height: 35px;
  margin: 15px 5px 0px 0px!important;
}
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:hover{
  width: 35px;
  height: 35px;
  margin: 15px 5px 0px 0px;
}
/* .page-header-top-row{
  display: none;
} */