.farm-tab-text {
    font-weight: bold;
    color: black;
}

.tab-vertical .css-lfwcke-MuiTabs-flexContainer {
    align-items: baseline !important;
}

.section-title span {
    color: grey !important;
}

.zone-gridview-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    text-align: center;
   
}
.zone-gridview-cars-header{
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}


