.drawer-sub-menu {
    margin-left: 20px !important;
}

.darwer-icon {
    color: white !important;
}

.drawer-list-container * {
    color: white !important;
}

.drawer-header-logo {
    cursor: pointer;
    padding-left: 17px;
    width: 350px !important;
    display: flex;
}
.MuiButtonBase-root{
    text-align: left !important;
}
/* .css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-color: #517223 !important
} */
