.drawer-sub-menu {
  margin-left: 20px !important;
}
.darwer-icon {
  color: white;
}
.drawer-list-container {
  color: white;
}
.drawer-header-logo {
  cursor: pointer;
  padding-left: 17px;
  width: 350px !important;
}

.drawer-background .MuiDrawer-paper {
  background-color: #517223 !important;
}
@media (max-width: 800px) {
  .drawer-header-logo img {
    width: 245px !important;
  }
}
