.step-label{
    color: rgb(54, 66, 83);
    font-weight: bold;
}
.life-cycle-details-card{
    border-radius: 4px !important;
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-color: white !important;
}