.table-header-row {
    background: #e5e4d7 !important;
    
  }
  .table-header {
    font-size: 13px ;
    font-weight: bold;
  }
  .custom-table-row{
    background-color: red;
  }
  .table-servity{
    font-weight: bold;
    font-size: 0.75rem;
    border: 5px solid;
    color: white;
    background-color: green;
    border-radius: 2px;
    padding: '5px, 10px';
  }
  .carsole-image{
    margin: 15% 30% 0% !important;
    text-align: center;
  }
.css-1f8sh1y {
    height: 600px !important;
    

  } 
   