.login-container{
    border-radius: 4px;
    box-shadow: rgb(55 63 71 / 5%) 0px 0px 0px 1px, rgb(55 63 71 / 16%) 0px 1px 4px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 12px 24px; 
    margin: auto;
    max-width: 500px;
    text-align: center;
    height: 350px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}