.login-container {
  border-radius: 4px;
  box-shadow: rgb(55 63 71 / 5%) 0px 0px 0px 1px,
    rgb(55 63 71 / 16%) 0px 1px 4px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 12px 24px;
  margin: auto;
  width: 500px;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-input-box {
  background-color: #ffffff;
}
.error-message {
  color: red;
}
