body {
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7FAFB !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.MuiTableHead-root {
  font-weight: bold;
  color: red;
}

.MuiTableCell-root {
  color: red;
}

.page-title {
  font-size: 20px;
  color: rgb(54, 66, 83);
  /* font-weight: 600!important; */
}
.page-title-light {
  font-size: 20px;
  color: #E5E4D7;
  /* font-weight: 600!important; */
}

.page-title-bold {
  font-size: 20px;
  font-weight: 600 !important;
  color: rgb(54, 66, 83);

}
.header-title {
  display: block;
  font-weight: normal;
  font-size: 18px;
  color: #0E2C4B;
  text-transform: capitalize;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: block;
  /* margin: auto; */
}

/* p {
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
} */

.page-container {
  padding: 16px;
}
/* Dialogue styling*/
.dialog-title-container{
  background: #E5E4D7 !important;
  margin-bottom: 16px !important;
}