body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7FAFB !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.header-title {
  display: block;
  font-weight: normal;
  font-size: 18px;
  color: #0e2c4b;
  text-transform: capitalize;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: block;
  /* margin: auto; */
}
.label-custom {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #0E2C4B;
  margin: auto;
  letter-spacing: 0.01em;
}
.label-light {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #606A72;
  margin: auto;
  letter-spacing: 0.01em;
}

.label-white {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: white !important;
  letter-spacing: 0.01em;
}

.label-light-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #606A72;
  letter-spacing: 0.01em;
}

.label-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* border-bottom: 1px solid grey; */
  color: rgb(54, 66, 83);
  letter-spacing: 0.01em;
}

/* p {
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
} */

.page-container {
  padding: 16px;
}
/* Dialogue styling*/
.dialog-title-container{
  background: #E5E4D7 !important;
  margin-bottom: 16px !important;
}
a{
  text-decoration: none !important;
} 