body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* .section-title {
  display: block;
  font-weight: normal;
  font-size: 18px;
  color: #0e2c4b;
  text-transform: capitalize;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: block;
*/

.label-light {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #606a72;
  margin: auto;
  letter-spacing: 0.01em;
}

.label-white {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: white !important;
  letter-spacing: 0.01em;
}

.label-light-bold {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
  letter-spacing: 0.01em;
}

.label-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* border-bottom: 1px solid grey; */
  color: rgb(54, 66, 83);
  letter-spacing: 0.01em;
}

/* p {
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
} */

.page-container {
  /* margin: 31px; */
  padding: 16px;
}

/* Dialogue styling*/


a {
  text-decoration: none !important;
}

.card-container {
  border-radius: 16px !important;
  padding: 20px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  background-color: white !important;
  overflow: auto;
  max-height: 500px;
}

.section-title {
  font-weight: 500;
  font-size: 18px;
  /* line-height: 36px; */
  color: #000000;
}

.input-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.flex-row-justify-center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-custom-white {
  background: #ffffff;
}

.input-custom {
  /* height: 55px; */
}

.popup-menu-action-container {
  border: 2px solid #e5e4d7;
  border-radius: 10px;
  width: 298px;
}

.table-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: auto;
  /* identical to box height */
  color: #000000;
}

.card-outline-container {
  margin: 12px !important;
  padding: 10px 10px 20px 10px;
  background: #f8f8f8;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.delete-box {
  background: #ffffff;
  border-radius: 10px;
}

.horizontalline {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.MuiFormHelperText-root {
  margin-left: 0px !important;
}

.graph-container {
  height: 400px !important;
}

.custom-anchor-tag {
  color: #000000 !important;
  cursor: pointer;
  text-decoration: none !important;
}

.farm-dashboard-images {
  border-radius: 1rem;
  display: inline-block;
  margin-top: 14px;
  transform: scale(2, 2);
}

.section-details {
  overflow: hidden;
  font-size: 1.2em;
  color: #606a72;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.farm-card {
  color: #000000;
  font-size: 18px;
  margin-top: -14px;
  font-weight: 600;
}

.zone-section {
  margin: 0px 0px 15px;
  height: 135px;
}

.zone-name {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 13vh;
}
.zone-second {
  height: 436px;

}
.zone-height {
  height: 50vh;
}
